/* 메인화면 프로필 창 */
.profile {
    width: 282px;
    height: 918px;
    position: fixed;
    top: 64px;
    left: 0px;
    background: #fbfbfb;
}
.main-profile-img {
    width: 150px;
    position: absolute;
    top: 56px;
    left: 66px;
}
.main-profile-nickname {
    position: absolute;
    top: 239px;
    left: 56.4px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #131313;
}
.main-profile-introduce {
    position: absolute;
    top: 287px;
    left: 42.805px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #131313;
}
.profile-nav {
    width: 167px;
    height: 229px;
    position: absolute;
    top: 369px;
    left: 56px;
}
.nav-home {
    background-color: #fbfbfb;
}
.nav-home img {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0px;
    top: 0px;

}
.nav-home span {
    position: absolute;
    left: 25.75%;
    right: 0.6%;
    top: 3.93%;
    bottom: 87.34%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #131313;
}
.nav-profile img {
    position: absolute;
    left: 0.6%;
    right: 82.63%;
    top: 23.14%;
    bottom: 64.63%;

}
.nav-profile span {
    position: absolute;
    left: 25.75%;
    right: 0.6%;
    top: 24.45%;
    bottom: 65.07%;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #131313;
}
.nav-pages img {
    position: absolute;
    width: 27px;
    height: 27px;
    left: 2px;
    top: 105px;
}
.nav-pages span {
    position: absolute;
    left: 25.75%;
    right: 0.6%;
    top: 45.85%;
    bottom: 43.67%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #131313;
}
.nav-tages img {
    position: absolute;
    width: 29px;
    height: 29px;
    left: 3px;
    top: 151px;
}
.nav-tages span {
    position: absolute;
    left: 25.75%;
    right: 0.6%;
    top: 67.25%;
    bottom: 22.27%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #131313;
}
.nav-about img {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 2px;
    top: 201px;
}
.nav-about span {
    position: absolute;
    left: 26.35%;
    right: 0%;
    top: 88.65%;
    bottom: 0.87%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #131313;
}
.profile-footer {
    width: 185px;
    height: 32px;
    position: absolute;
    top: 828px;
    left: 49px;
    bottom: 56px;
}
.github-icon {
    position: absolute;
    left: -0.54%;
    right: 84.32%;
    top: 3.12%;
    bottom: 3.12%;
}
.mail-icon {
    position: absolute;
    left: 27.57%;
    right: 55.14%;
    top: 0%;
    bottom: 0%;
}
.theme_change-icon {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 108px;
    top: 5px;
}
.search_web-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 154px;
    top: 1px;
}